/*about - block*/
.about {
  outline: 2px solid blue;
}

.about__container {
  width: 320px;
  margin: 0 auto;
  padding: 30px 30px;

  outline: 2px solid red;
}

.about__title {
  margin: 0;

  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
  color: @black;
}
