/*about__list about-list*/
.about-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 0;
  padding: 0;

  font-size: 17px;
  font-weight: 700;
  line-height: 20px;
  color: @black;
  list-style: none;
}

.about-list__item {
  position: relative;
  padding-top: 83px;
}

.about-list__svg {
  position: absolute;

  fill: @bg-dark-green;

  &--flower {
    top: 28px;
    left: 8px;
    width: 32px;
    height: 37px;
  }

  &--money {
    top: 28px;
    left: 0;
    width: 47px;
    height: 27px;
  }

  &--heart {
    top: 33px;
    left: 7px;
    width: 34px;
    height: 27px;
  }

  &--ball {
    top: 31px;
    left: 4px;
    width: 35px;
    height: 34px;
  }

  &--rocket {
    top: 31px;
    left: -6px;
    width: 55px;
    height: 23px;
  }

  &--gift {
    top: 31px;
    left: 3px;
    width: 33px;
    height: 32px;
  }
}

@media (min-width: @tablet-width) {
  .about-list {
    flex-direction: row;
    flex-wrap: wrap;

    font-size: 20px;
  }

  .about-list__item {
    width: 50%;
    padding-top: 114px;
  }

  .about-list__svg {
    &--flower {
      top: 58px;
      left: 8px;
    }

    &--money {
      top: 68px;
      left: 0;
    }

    &--heart {
      top: 65px;
      left: 7px;
    }

    &--ball {
      top: 65px;
      left: 4px;
    }

    &--rocket {
      top: 71px;
      left: -6px;
    }

    &--gift {
      top: 63px;
      left: 3px;
    }
  }
}

@media (min-width: @desktop-width) {
  .about-list {
    width: 700px;

    font-size: 20px;
  }

  .about-list__item {
    padding-top: 116px;
  }
}
