/*about - block*/
.about__container {
  width: 320px;
  margin: 0 auto;
  padding: 25px 30px;
}

.about__title {
  margin: 0;

  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
  color: @black;
}

@media (min-width: @tablet-width) {
  .about__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 768px;

    padding: 65px 50px;
  }

  .about__title {
    width: 100%;
    margin-bottom: -10px;

    font-size: 43px;
    line-height: 50px;
  }
}

@media (min-width: @desktop-width) {
  .about__container {
    width: 1150px;
    padding: 68px 225px 30px 225px;
  }

  .about__title {
    width: auto;
    font-size: 53px;
  }
}
