/*promo__list categories-list*/
.categories-list {
  font-size: 19px;
  font-weight: 700;
  line-height: 24px;
  list-style: none;
}

.categories-list__item {
  &--interier {
    background-color: @bg-light-green;
  }

  &--toys {
    background-color: @bg-drak-green;
  }
}

.categories-list__link {
  color: @white;
  text-decoration: none;
}
