/*promo__list categories-list*/
.categories-list {
  font-size: 19px;
  font-weight: 700;
  line-height: 24px;
  list-style: none;
}

.categories-list__item {
  &--interier {
  background-color: #56c3b2;
  }

  &--toys {
  background-color: #63d1bb;
  }
}

.categories-list__link {
  color: #ffffff;
  text-decoration: none;
}