/*contacts - block*/
.contacts__title {
	font-size: 18px;
 	font-weight: 700;
	line-height: 30px;

	color: #000000;
}

.contacts__button {
	font-size: 18px;
	font-weight: 700;
	line-height: 20px;
	color: #444444;
	text-decoration: none;
}