/*contacts - block*/
.contacts {
  position: relative;
}

.contacts__container {
  width: 320px;
  margin: 0 auto;
  padding: 20px 30px 25px 30px;
}

.contacts__title {
  margin-bottom: 26px;

  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  color: @black;
}

.contacts-info {
  margin-bottom: 10px;
}

.contacts__button {
  display: block;
  width: 260px;
  height: 52px;
  margin: 19px auto;
  padding: 13px;

  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  color: @grey-text;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;

  border: 2px solid #444444;
  background: none;
}

@media (min-width: @tablet-width) {
  .contacts__container {
    width: 768px;
  }

  .contacts__container:first-child {
    padding: 60px 50px 19px 50px;
  }

  .contacts__container:last-child {
    padding: 36px 0;
  }

  .contacts__title {
    margin: 0;
    margin-bottom: 48px;

    font-size: 43px;
    line-height: 50px;
  }

  .contacts__button {
    width: 230px;
  }
}

@media (min-width: @desktop-width) {
  .contacts {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 1150px;
    margin: 0 auto;
    padding: 69px 50px 0 225px;
  }

  .contacts__container {
    width: 350px;
  }

  .contacts__container:first-child {
    padding: 0;
    padding-top: 75px;
  }

  .contacts__container:last-child {
    width: 873px;
    margin-top: -50px;
    margin-bottom: 105px;
    padding: 0;
  }

  .contacts__title {
    margin-bottom: 52px;

    font-size: 53px;
  }

  .contacts__button {
    width: 230px;
    margin: 0;
  }
}
