/*form-options__footer footer-form*/
.footer-form__container {
  width: 320px;
  margin: 0 auto;
  padding: 0 30px;
}

.footer-form__container-text {
  margin-bottom: 31px;
  padding-top: 4px;

  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: @grey-text;
}

.footer-form__button {
  width: 260px;
  margin-bottom: 57px;
  padding: 15px;

  .btn-mix();
  font-size: 17px;
  font-weight: 700;
  line-height: 16px;
  color: @grey-text;
  text-transform: uppercase;

  background: none;
}

@media (min-width: @tablet-width) {
  .footer-form__container {
    display: flex;
    justify-content: space-between;
    width: 768px;
    margin-bottom: 50px;
    padding: 0 50px;
  }

  .footer-form__container-text {
    margin: 0;
    padding-top: 7px;
    font-size: 17px;
    line-height: 30px;
  }

  .footer-form__button {
    order: -1;
    width: 230px;
    margin: 0;
  }
}

@media (min-width: @desktop-width) {
  .footer-form__container {
    width: 1150px;
    padding: 0 225px;
  }
}
