/*hit - block*/
.hit__name {
	font-size: 25px;
	font-weight: 700;
	line-height: 30px;
	color: #000000;
}

.hit__title {
	font-size: 17px;
	font-weight: 700;
	line-height: 20px;
	color: #63d1bb;
	text-transform: uppercase;
}

.hit__description {
	font-size: 15px;
	font-weight: 400;
	line-height: 24px;
	color: #444444;
}

.hit__price {
	font-size: 17px;
	font-weight: 700;
	line-height: 24px;
	color: #444444;
}

.hit__buttom {
	font-size: 18px;
	font-weight: 700;
	line-height: 20px;
	color: #444444;
}