/*hit - block*/
.hit {
  outline: 2px solid blue;
}

.hit__container {
  width: 320px;
  margin: 0 auto;
  padding: 27px 30px;
  padding-bottom: 39px;

  outline: 2px solid red;
}

.hit__name {
  margin: 0;
  margin-bottom: 6px;

  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
  color: @black;
}

.hit__title {
  margin: 0;
  margin-bottom: 23px;

  font-size: 17px;
  font-weight: 700;
  line-height: 20px;
  color: @bg-dark-green;
  text-transform: uppercase;
}

.hit__description {
  margin: 0;
  margin-bottom: 18px;

  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  color: @grey-text;
}

.hit__foto {
  margin-bottom: 20px;
  width: 260px;
  height: 315px;
}

.hit__price {
  margin: 0;
  margin-bottom: 26px;
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  color: @grey-text;
  text-align: center;
}

.hit__button {
  width: 260px;
  height: 52px;

  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  color: @grey-text;
  text-transform: uppercase;

  border: 2px solid #444444;
  background: none;
}
