/*catalog__item item*/
.item {
  margin-bottom: 36px;

  box-shadow: 0 0 0 1px @bc-grey;
}

.item__wrapper {
  padding: 0 28px;
}

.item__link {
  display: block;
  margin-bottom: 24px;
}

@media (min-width: @tablet-width) {
  .item {
    display: flex;
    margin-bottom: 54px;
  }

  .item__link {
    margin: 0;

    line-height: 0;
  }

  .item__link-img {
    width: 334px;
    height: 334px;
  }

  .item__wrapper {
    display: flex;
    flex-direction: column;
    padding-right: 0;
  }
}

@media (min-width: @desktop-width) {
  .item {
    display: block;
    width: 316px;
    margin-bottom: 56px;
  }

  .item__wrapper {
    justify-content: space-between;
    height: 197px;

    padding-right: 28px;
  }

  .item__link-img {
    height: 462px;
  }
}
