/*form-options__section list-options*/
.list-options__title {
  font-size: 17px;
  font-weight: 700;
  line-height: 16px;
  color: @bg-drak-green;
}

.list-options__label-option {
  font-size: 17px;
  font-weight: 700;
  line-height: 18px;
  color: @black;
}

.list-options__input {
  font-size: 17px;
  font-weight: 400;
  line-height: 18px;
  color: @grey-text;
}

.form-options__container-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: @grey-text;
}

.form-options__button {
  font-size: 17px;
  font-weight: 700;
  line-height: 16px;
  color: @grey-text;
}
