/*main-nav*/
.main-nav {
  position: relative;
  margin: 0 auto;

  outline: 2px solid green;
}

.main-nav__toggle {
  position: absolute;
  top: 32px;
  right: 0px;
  width: 20px;
  height: 14px;

  background-image: url("../img/icon-menu-open.svg");
  border: none;
  cursor: pointer;
  z-index: 10;
}

@media (min-width: @tablet-width) {
  .main-nav__toggle {
    display: none;
  }
}
