/*modal - block*/
.modal__container {
  width: 320px;
  margin: 0 auto;
  padding: 46px 30px;
}

@media (min-width: @tablet-width) {
  .modal__container {
    width: 565px;
    min-height: 336px;
    padding: 46px 108px;
  }
}
