/*ordering - block*/
.ordering__container-title {
  margin-bottom: 22px;

  background-color: @bg-grey;
}

.ordering__title {
  width: 260px;
  margin: 0 auto;
  padding: 70px 0 76px 0;

  font-size: 27px;
  font-weight: 700;
  line-height: 30px;
  color: @black;
  text-align: center;
}

@media (min-width: @tablet-width) {
  .ordering__container-title {
    position: relative;
    margin-bottom: 70px;
    padding-bottom: 0;

    .zigzag-top (-12px, 24px, 768px, url("../img/zigzag-line-top.svg"));
  }

  .ordering__title {
    width: 668px;
    padding: 95px 0 82px 0;

    font-size: 43px;
    line-height: 50px;
  }
}

@media (min-width: @desktop-width) {
  .ordering__container-title {
    margin-bottom: 116px;

    .zigzag-top (-18px, 34px, 768px, url("../img/zigzag-line-top.svg"));
  }

  .ordering__title {
    width: 1050px;
    padding-bottom: 106px;

    font-size: 53px;
    line-height: 57px;
  }
}
