/*page-footer*/
.page-footer {
  background-color: @bg-grey;
}

.page-footer__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 320px;
  height: 160px;
  margin: 0 auto;
  padding: 0 30px;
}

.page-footer__logo {
  display: none;
}

@media (min-width: @tablet-width) {
  .page-footer__container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 768px;
    height: 145px;
    padding: 30px 50px;
  }

  .page-footer__logo {
    display: block;
    margin-right: 80px;

    cursor: pointer;
    fill: #231f20;

    &:hover,
    &focus {
      fill: #46c1ae;
    }

    &:active {
      opacity: 0.3;
    }
  }
}

@media (min-width: @desktop-width) {
  .page-footer__container {
    width: 1150px;
    height: 143px;
    padding: 30px 50px;
  }
}
