/*page-header*/
.page-header {
  width: 100%;
}

.page_header__container {
  margin: 0 auto;
  width: 320px;
}

@media (min-width: @tablet-width) {
  .page_header__container {
    width: 720px;
  }
}

@media (min-width: @desktop-width) {
  .page_header__container {
    width: 1200px;
  }
}
