/*page-header*/
.page-header {
  background-color: @white;

  outline: 1px solid black;
}

.page_header__container {
  width: 320px;
  margin: 0 auto;
  padding: 0 30px;

  outline: 3px solid red;
}

@media (min-width: @tablet-width) {
  .page_header__container {
    width: 768px;
    min-height: 88px;
    padding: 0 50px;
  }


}
/*
@media (min-width: @desktop-width) {
  .page_header__container {
    width: 1200px;
  }
}*/
