/*page-footer*/
.page-footer {
  background-color: @bg-grey;

  outline: 1px solid black;
}

.page-footer__container {
  width: 320px;
  margin: 0 auto;

  outline: 3px solid red;
}

.page-footer__logo {
  display: none;
}

@media (min-width: @tablet-width) {
  .page-footer__container {
    display: flex;
    justify-content: space-between;
    width: 768px;
    height: 115px; /*временно*/
    padding: 30px 50px;
  }

  .page-footer__logo {
    display: block;
  }

  .page-footer * {
    outline: 1px solid blue;
  }
}

@media (min-width: @desktop-width) {
  .page-footer__container {
    width: 1250px;
    height: 115px; /*временно*/
    padding: 30px 100px;
  }
}
