/*reviews__item post*/
.post__text {
  font-size: 15px;
  font-weight: 400;
  line-height: 30px;
  color: @grey-text;
}

.post__author-name {
  font-size: 17px;
  font-weight: 700;
  line-height: 30px;
  color: @black;
}

.post__author-email {
  font-size: 17px;
  font-weight: 700;
  line-height: 30px;
  color: @grey-text;
}
