/*production - block*/

.production__cantainer {
  display: flex;
  flex-direction: column;
  width: 320px;
  margin: 0 auto;
  margin-bottom: 58px;
  padding: 0 30px;
}

.production__title {
  margin: 0 28px;
  padding: 24px 0 24px 60px;

  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  color: @black;
}

.production__text {
  margin: 0;
  padding: 28px 33px;

  font-size: 13px;
  font-weight: 700;
  line-height: 24px;
  color: @grey-text;
}

.production__button {
  width: 192px;
  margin: 0 auto;
  margin-bottom: 32px;
  padding: 15px;

  font-size: 17px;
  font-weight: 700;
  line-height: 16px;
  color: @grey-text;
  text-decoration: none;
  text-align: center;

  border: 2px solid #444444;
  background: none;
}

@media (min-width: @tablet-width) {
  .production__cantainer {
    margin-bottom: 65px;
    width: 768px;
    padding: 0 50px;
  }

  .production__title {
    margin-bottom: 0px;
    padding: 39px 80px;

    font-size: 20px;
  }

  .production__show_img {
    order: -1;
    width: 668px;
    height: 455px;
  }

  .production__text {
    margin-bottom: 42px;
    padding: 0 40px;
  }

  .production__button {
    margin-bottom: 45px;
    width: 584px;
  }
}

@media (min-width: @desktop-width) {
  .production__cantainer {
    position: relative;
    padding-top: 87px;
    padding-left: 750px;
    padding-bottom: 105px;
    width: 1150px;
  }

  .production__show_img {
    position: absolute;
    top: 0;
    left: 50px;
    width: 682px;
    height: 455px;
  }

  .production__button {
    width: 230px;
  }
}
