/*production - block*/
.production__title {
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  color: #000000;
}

.production__text {
  font-size: 13px;
  font-weight: 700;
  line-height: 24px;
  color: #444444;
}

.production__button {
  font-size: 17px;
  font-weight: 700;
  line-height: 16px;
  color: #444444;
  text-decoration: none;
}