/*production - block*/
.production__title {
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  color: @black;
}

.production__text {
  font-size: 13px;
  font-weight: 700;
  line-height: 24px;
  color: @grey-text;
}

.production__button {
  font-size: 17px;
  font-weight: 700;
  line-height: 16px;
  color: @grey-text;
  text-decoration: none;
}
