/*promo - block*/
.promo {
  background-color: #eeeeee;

  outline: 2px solid blue;
}

.promo__container {
  display: flex;
  flex-direction: column;
  width: 320px;
  height: 490px; /*Временно*/
  margin: 0 auto;

  background: url("../img/hero-mobile@1x.jpg") no-repeat 50% -19px;

  outline: 2px solid red;
}

.promo__title {
  margin: 0 30px;
  margin-top: 72px;

  font-size: 27px;
  font-weight: 700;
  line-height: 30px;
  text-align: center;
}

@media (min-width: @tablet-width) {
  .promo__container {
    width: 768px;
    height: 730px; /*Временно*/
    padding: 0 50px;

    background: url("../img/hero-tablet@1x.jpg") no-repeat 50% 0;
  }

  .promo__title {
    margin-top: 152px;

    font-size: 43px;
    line-height: 50px;
  }


}
