/*reviews - block*/
.reviews {
  outline: 2px solid blue;
}

.reviews__container {
  width: 320px;
  margin: 0 auto;
  padding: 25px 30px;
  padding-bottom: 45px;

  outline: 2px solid red;
}

.reviews__title {
  margin: 0;
  margin-bottom: 23px;

  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
  color: @black;
}

.reviews__button {
  display: block;
  width: 260px;
  height: 52px;
  padding: 13px;

  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  color: @grey-text;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;

  border: 2px solid #444444;
  background: none;
}

@media (min-width: @tablet-width) {
  .reviews__container {
    position: relative;
    width: 768px;
    padding: 80px 50px;
    height: 535px;

    background: url("../img/review@1x.jpg") no-repeat;
  }

  .reviews__title {
    margin-bottom: 50px;

    font-size: 43px;
    line-height: 50px;
  }

  .reviews__button {
    position: absolute;
    top: 80px;
    right: 50px;
    width: 175px;
    margin: 0;
  }

  .reviews__container * {
    outline: 2px solid blue;
  }
}
