/*reviews__scrolling scroling*/
.scroling {
  display: flex;
  margin-bottom: 38px;
}

.scroling__button {
  width: 130px;
  height: 52px;
  margin: 0;
  margin-top: 28px;

  border: 1px solid #444444;
  background: none;
}
