/*order-form__size selection*/
.selection {
  display: flex;
  justify-content: space-between;
  width: 260px;
  margin-bottom: 32px;
}

.selection__label-option {
  width: 82px;
  padding: 15px 0;

  text-align: center;

  box-shadow: inset 0 0 0 2px @bc-grey;
}

.selection__label-option:hover,
.selection__label-option:focus {
  box-shadow: inset 0 0 0 2px @grey-text;
}

.selection__label-option:active,
.selection__option:checked + .selection__label-option {
  box-shadow: inset 0 0 0 2px @bg-dark-green;
}

@media (min-width: @tablet-width) {
  .selection {
    width: 350px;
  }

  .selection__label-option {
    width: 112px;
  }
}
