/*main-nav__list site-list*/
.site-list {
  position: relative;
  margin: 0;
  padding: 0;
  height: 80px;

  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  list-style: none;
}

.site-list__item {
  display: none;
  padding: 26px 0 28px 70px;

  &--logo {
    display: block;
    padding-top: 22px;
    padding-left: 86px;
  }

  &--new,
  &--sale,
  &--delivery {
    display: none;
  }
}

.site-list__link {
  color: @black;
  text-decoration: none;
}

.site-list__logo-image {
  width: 86px;
}

@media (min-width: @tablet-width) {
  .site-list {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    height: 89px;
  }

  .site-list__item {
    display: block;
    padding: 31px 0 33px 0;
  }

  .site-list__item--logo {
    order: 1;
    width: 320px;
    padding-top: 20px;
  }

  .site-list__logo-image {
    width: 112px;
    height: 46px;
  }

  .site-list__item--search {
    order: 2;
    width: 83px;

    font-size: 1px;
  }

  .site-list__item--basket {
    order: 3;
    width: 265px;
    padding-left: 83px;
  }

  .site-list__item--catalog {
    order: 4;
    padding: 0;

    font-size: 15px;
  }

  .site-list__item--form {
    order: 5;
    padding: 0;
    padding-left: 37px;

    font-size: 15px;
  }

  .site-list__item--delivery {
    display: block;
    order: 6;
    margin-left: auto;
    padding: 0;

    font-size: 15px;
  }

  .site-list__item--new,
  .site-list__item--sale {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .site-list__item {
    display: block;
  }

  .site-list__item--catalog {
    order: 1;
    padding: 31px 0 33px 0;
    width: 186px;

    font-size: 17px;
  }

  .site-list__item--form {
    order: 2;
    padding: 31px 0 33px 30px;
    width: 186px;

    font-size: 17px;
  }

  .site-list__item--logo {
    order: 3;
    text-align: center;
  }

  .site-list__item--search {
    order: 4;
  }

  .site-list__item--basket {
    order: 5;
  }

  .site-list__item--new {
    order: 6;
    padding: 0;

    font-size: 15px;
  }

  .site-list__item--sale {
    order: 7;
    padding: 0;
    padding-left: 62px;

    font-size: 15px;
  }

  .site-list__item--delivery {
    order: 8;
  }
}
