/*main-nav__list site-list*/
.site-list {
  position: relative;
  margin: 0;
  padding: 0;

  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  list-style: none;
}

.site-list__item {
  position: absolute;
  display: none;
  height: 79px;
  padding: 26px 0 28px 70px;
  outline: 2px solid aqua;

  &--logo {
    position: static;
    display: block;
    padding-top: 22px;
    padding-left: 86px;
    outline: 2px solid deeppink;
  }
}

.site-list__link {
  color: @black;
  text-decoration: none;
}

.site-list__logo-image {
  width: 86px;
  height: 35px;
}


@media (min-width: @tablet-width) {
  .site-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    font-size: 15px;
  }

  .site-list__item {
    position: static;
    display: block;
    padding: 31px 0 33px 70px;
  }

  .site-list__item--logo {
    order: 1;
    width: 320px;
    height: 46px;
  }

  .site-list__logo-image {
    width: 112px;
    height: 46px;
  }

  .site-list__item--logo {
    order: 1;
  }

  .site-list__item--catalog {
    position: absolute;
    top: 77px;
    order: 4;
  }

  .site-list__item--form {
    position: absolute;
    top: 77px;
    left: 168px;
    order: 5;
  }
  .site-list__item--search {
    order: 2;
    width: 83px;
  }

  .site-list__item--basket {
    order: 3;
    width: 265px;
  }
}
